@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Maquetacion:
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografia
    4. Estilos visuales
    5. Otros */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background-screen: #2A354B;
    --background-keyboard: #35486c;
    --operator-button: #23b786;
    --number-button: #C7D6D1;
    --btn-active: #35486cb1;
}

body {
    width: 100%;
    height: 100vh;
}

.main__container {
    width: 400px;
    height: 550px;
    margin: 50px auto;
    background-color: var(--background-screen);
    border-radius: 15px;
}

.screen__container {
    position: relative;
    height: 25%;
}

.screen {
    position: absolute;
    bottom: 15px;
    right: 17.5px;
    line-height: 100%;
    color: var(--operator-button);
    font-size: 65px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    place-items: center;
    width: 100%;
    height: 75%;
    padding: 10px;
    background-color: var(--background-keyboard);
    border-radius: 0 0 15px 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: none;
    font-size: 30px;
    color: var(--number-button);
    background-color: var(--background-keyboard);
    border-radius: 50%;
    cursor: pointer;
}

.btn:active {
    background-color: #647595;
    transition: all 0.3s ease-out;
}

.btn__operator {
    background-color: var(--background-screen);
    color: var(--operator-button);
    border-radius: 50%;
}

.btn__operator--green {
    background-color: var(--operator-button);
    color: var(--background-screen);
}

@media (max-width: 480px) {
    .main__container {
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0px;
    }

    .screen__container {
        border-radius: 10px 10px 10px 10px;
    }

    .screen {
        letter-spacing: 2.5px;
    }
    
    .buttons {
        border-radius: 0px;
    }

    .btn {
        width: 75px;
        height: 75px;
        font-size: 35px;
    }

    .btn__operator {
        font-weight: bold;
    }
}