@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background-screen: #2A354B;
    --background-keyboard: #35486c;
    --operator-button: #23b786;
    --number-button: #C7D6D1;
    --dark-blue: #2A354B;
    --dot: 3px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #647595;
}

body.active {
    --background-screen: #FBFEFD;
    --background-keyboard: #FBFEFD;
    --operator-button: #23b786;
    --number-button: #2A354B;
    --dot: 55%;
}

.main__container {
    width: 500px;
    height: 750px;
    margin: 50px auto;
}

.screen__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    padding: 15px 20px;
    min-height: 25%;
    max-height: fit-content;
    border-radius: 15px 15px 0 0;
    background-color: var(--background-screen);
    transition: all 0.5s ease;
    overflow: hidden;
}

.screen {
    color: var(--operator-button);
    font-size: 65px;
    height: 70px;
}

.previous {
    height: 35px;
    color: var(--operator-button);
    font-size: 35px;
}

.screen__switch {
    position: relative;
    display: flex;
    align-items: center;
    height: 17px;
    width: 40px;
    border-radius: 20px;
    background-color: var(--operator-button);
    position: absolute;
    top: 20px;
    transition: all 0.5s ease;
}

.white__dot {
    position: absolute;
    left: var(--dot);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 1px;
    background-color: #FBFEFD;
    transition: all 0.5s ease;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    place-items: center;
    width: 100%;
    height: 75%;
    padding: 10px;
    font-weight: bold;
    background-color: var(--background-keyboard);
    border-radius: 0 0 15px 15px;
    transition: all 0.5s ease;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: none;
    font-size: 35px;
    color: var(--number-button);
    background-color: var(--background-keyboard);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.btn:active {
    background-color: #647595;
    border-radius: 15px;
    transition: all 0.5s ease-out;
}

.btn__operator {
    background-color: var(--background-screen);
    color: var(--operator-button);
    border-radius: 50%;
}

.btn__operator--large {
    width: 70%;
    border-radius: 20px;
}

.btn__operator--green {
    background-color: var(--operator-button);
    color: var(--dark-blue);
}

.btn:last-child {
    grid-column: 3 / 5;
}

@media (max-width: 480px) {
    body {
        background-color: var(--background-keyboard);
    }
    
    .main__container {
        width: 100%;
        height: 100vh;
        margin: 0;
    }

    .screen__container {
        border-radius: 0 0 20px 20px;
    }
    
    .screen {
        letter-spacing: 2.5px;
    }
    
    .buttons {
        border-top: 1px solid #35486c;
        border-radius: 0px;
    }

    .btn {
        width: 75px;
        height: 75px;
        font-size: 35px;
    }

    .btn__operator {
        font-weight: bold;
    }
}